.heading {
    margin-left: 850px;
    margin-top: 100px;
}
.content{
    height: 650px;
    width: 380px;
    margin-top: 50px;
    margin-left: 800px;
    border: solid 1px;
    background-color: rgb(142, 211, 224);
    border-style: dotted;
    border-radius: 35px;
}
.row {
    border: 1px solid;
    border-style: dotted;
    border-radius: 10px;
    border-color: rgb(122, 29, 76);
    margin: 10px;
    padding-bottom: 20px;
}

#text1{
    margin-top: 40px;
    margin-left: 20px;
    height: 35px;
    width: 330px;
    font-size: 25px;
    text-align: right;
    border-radius: 10px;
    border-color: rgb(172, 171, 171);
    pointer-events: none;
}

.button{
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(133, 104, 211);
    color: #fff;
    border-color: rgb(172, 171, 171);
    cursor: pointer
}
.button:hover {
    background-color: rgb(70, 45, 139);
}

.button-clr{
    margin-top: 20px;
    margin-left: 275px;
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(133, 104, 211);
    color: #fff;
    border-color: rgb(172, 171, 171);
    cursor: pointer
}
.button-clr:hover {
    background-color: rgb(70, 45, 139);
}

